[Unit]
Description=newserv
# changeme
#After=network.target mariadb.service postgresql@13-main.service
#After=network.target

[Service]
Type=simple
# changeme
WorkingDirectory=/path/to/newserv/newserv
# changeme
ExecStart=/path/to/newserv/newserv
# changeme
User=UID
# changeme
Group=GID

Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
