[core]
moduledir=./modules
modulesuffix=.so
loadmodule=miscreply
loadmodule=localuserstats

#loadmodule=pqsql-dbapi2
loadmodule=sqlite-dbapi2

loadmodule=control
loadmodule=control_commands
loadmodule=control_management

loadmodule=serverlist
loadmodule=splitlist

#loadmodule=fakeusers
#loadmodule=settime

loadmodule=trusts_master

loadmodule=glines_store
loadmodule=glines_commands

loadmodule=whowas
loadmodule=whowas_channels
#loadmodule=whowas_commands

#loadmodule=proxyscan
#loadmodule=chanserv
#loadmodule=chanserv_chancmds
#loadmodule=chanserv_usercmds
#loadmodule=chanserv_authcmds
#loadmodule=chanserv_grep
#loadmodule=chanserv_protect
#loadmodule=chansearch
#loadmodule=chanstats
#loadmodule=nickrate

[irc]
servername=newserv.example.com
servernumeric=SP
serverdescription=my newserv instance
hub=primary

[hub-primary]
host=1.2.3.4
#port=9998
port=4400
pass=drowssap
pingfreq=3600

[proxyscan]
nick=P
user=proxyscan
host=proxyscan.example.com
realname=Proxyscan 2
ip=5.6.7.8
mailerip=9.10.11.12
mailname=badger.example.com
port=6667
maxscans=200
rescaninterval=86400

[chanserv]
nick=Q8
user=Q9
host=q9.is.brilliant
realname=0wned

[joinflood]
dbusername=joinflood
dbpassword=sidtsitahw
dbhost=13.14.15.16

[control]
nick=N3

[trojanscan]
nick=Tsplidge
ident=T
hostname=trojanscan.example.com
dbhost=localhost
dbuser=operserv
dbpass=moo
db=trojanscan

[miscreply]
# these are for remote /ADMIN requests (by default on ircu/snircd only IRC Operators use remote /ADMIN)
admin1=Located at someplace
admin2=Network IRC Service
admin3=No administrative info available
