CONFIG = {
  "conn": "dbname='q9' user='' password=''",
  "smtphost": "localhost",
  "smtpauth": None,
  "templateoptions": {
    "bot": "Q9",
    "botsecure": "Q9@CServe.test.quakenet.org",
    "cleanup": 80,
    "securityurl": "http://www.quakenet.org/faq/faq.php?c=160",
    "siteurl": "http://www.quakenet.org/",
    "server": "CServe.test.quakenet.org",
  },
  "from": "q9@quakenet.org",
  "defaultlang": "en",
  "url": "http://webdev.quakenet.org/~slug/q9dev/",
  "urlkey": "keyere",
  "urlsecret": secretere",
  "activationurl": "http://webdev.quakenet.org/~slug/q9dev/activate/",
  "activationkey": "123",
  "q9secret": "moo",
}
